extends layout

block content

    form(name="searchBond" method='POST')
        div.form-group(id='idFG')
            label(for='id') ID:
            input#issuerSpread.form-control(type='text', name='id')
        button#lookup Lookup