extends layout

block extraHead
    script(src='/javascripts/issuer.js')

block content

    form.form-inline
        div(class='form-group mx-sm-3 mb-2')
            label(for='username' class='col-sm-2 col-form-label') ID
            input.form-control#id(type='text', name='id')
        button(class='btn btn-primary mb-2')#lookup Lookup
        
    div
        
    button(class='btn btn-primary mb-2')#issue Issue
    
    div
    
    button(class='btn btn-primary mb-2')#revoke Revoke