extends layout

block extraHead
    script(src='/javascripts/login.js')

block content

    form(method='post')
        div(class='form-group row')
            label(for='username' class='col-sm-1 col-form-label') Username
            div
                input.form-control#username(type='text' name='username')
        div(class='form-group row')
            label(for='password' class='col-sm-1 col-form-label') Password
            div
                input.form-control#password(type='password'  name='password')
        button(type="submit" class="btn btn-primary mb-2") Login
    
    button(id="signup" class="btn btn-primary mb-2") Sign up
